# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Vercel
.vercel

# Build
dist/
build/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

